In [ ]:
https://github.com/nlp-with-transformers/notebooks

In [1]:
from transformers import pipeline

classifier = pipeline("text-classification")

/Users/jl/miniconda3/envs/DEV/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
No model was supplied, defaulted to distilbert-base-uncased-finetuned-sst-2-english and revision af0f99b (https://huggingface.co/distilbert-base-uncased-finetuned-sst-2-english).
Using a pipeline without specifying a model name and revision in production is not recommended.
Downloading (…)lve/main/config.json: 100%|██████| 629/629 [00:00<00:00, 500kB/s]
Downloading pytorch_model.bin: 100%|█████████| 268M/268M [00:42<00:00, 6.29MB/s]
Downloading (…)okenizer_config.json: 100%|████| 48.0/48.0 [00:00<00:00, 495kB/s]
Downloading (…)solve/main/vocab.txt: 100%|███| 232k/232k [00:00<00:00, 2.71MB/s]

In [2]:
import pandas as pd

In [3]:
text = """Dear Amazon, last week I ordered an Optimus Prime action figure
from your online store in Germany. Unfortunately, when I opened the package,
I discovered to my horror that I had been sent an action figure of Megatron
instead! As a lifelong enemy of the Decepticons, I hope you can understand my
dilemma. To resolve the issue, I demand an exchange of Megatron for the
Optimus Prime figure I ordered. Enclosed are copies of my records concerning
this purchase. I expect to hear from you soon. Sincerely, Bumblebee."""

In [4]:
output = classifier(text)

In [6]:
pd.DataFrame(output)

      label     score
0  NEGATIVE  0.901547

In [7]:
ner_tagger = pipeline("ner", aggregation_strategy="simple")
outputs = ner_tagger(text)
pd.DataFrame(outputs)

No model was supplied, defaulted to dbmdz/bert-large-cased-finetuned-conll03-english and revision f2482bf (https://huggingface.co/dbmdz/bert-large-cased-finetuned-conll03-english).
Using a pipeline without specifying a model name and revision in production is not recommended.
Downloading (…)lve/main/config.json: 100%|██████| 998/998 [00:00<00:00, 959kB/s]
Downloading pytorch_model.bin: 100%|███████| 1.33G/1.33G [03:13<00:00, 6.89MB/s]
Downloading (…)okenizer_config.json: 100%|████| 60.0/60.0 [00:00<00:00, 438kB/s]
Downloading (…)solve/main/vocab.txt: 100%|███| 213k/213k [00:00<00:00, 12.5MB/s]

  entity_group     score           word  start  end
0          ORG  0.879011         Amazon      5   11
1         MISC  0.990859  Optimus Prime     36   49
2          LOC  0.999755        Germany     90   97
3         MISC  0.556570           Mega    208  212
4          PER  0.590255         ##tron    212  216
5          ORG  0.669692         Decept    253  259
6         MISC  0.498350        ##icons    259  264
7         MISC  0.775362       Megatron    350  358
8         MISC  0.987854  Optimus Prime    367  380
9          PER  0.812096      Bumblebee    502  511